.container{
    width: 500px;
    border-radius: 20%;
    border-style: solid;
}
header{
    width: 150px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 180px;
    margin-right: 100px;

}
.a1{
    margin-left: 120px;

}
img{
    border-radius: 50%;
}
h3{
    margin-left: 150px;
}